@font-face {
    font-family: 'A-Love-Of-Thunder'; /*a name to be used later*/
    src: url('a-love-of-thunder.ttf'); /*URL to font*/
}













body {
  background: url('austria.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: bottom;
  overflow-x: hidden;


  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px;

  font-family: 'A-Love-Of-Thunder';


}


#content {
  position: absolute;
  height: 100%;
  width: 100%;
}



.menu {
  position: absolute;
  width: 13.8%;
  right: 75.5%;
  color: black;
  font-size: 1.6vw;
}


#menu-title {
  height: 10%;
  top: 12%;


  color: rgb(255,255,255);

  background-color: rgba(67,48,44,.65);
  font-size: 2vw;    
}

#menu-title-text-whole{
  top: 18%;
}

#first-menu-title-inner-span{
  position: absolute;
  right: 50%;
  top: -12%;
}

#second-menu-title-inner-span{
  transform: rotate(-13deg);
  position: absolute;
  right: 0%;
  top:-7%;
  font-size: 4vw;
}

#menu-black-box-1 {
  height: 3%;
  top: 21%;

  background-color: rgb(0,0,0);
}


#menu-option-1 {
  height: 13.5%;
  top: 24%;
  text-align: center;

  background-color: rgba(255,255,255,.65);

  box-shadow: -10px 0px 0px 0px black inset;
  line-height: 100%;
}

#menu-black-box-2 {
  height: 2.5%;
  top: 37.5%;

  background-color: rgb(0,0,0);
}

#menu-option-2 {
  height: 13%;
  top: 40%;
  text-align: center;

  background-color: rgba(255,255,255,.65);

  box-shadow: -10px 0px 0px 0px black inset;
  line-height: 100%;
  
}

#menu-black-box-3 {
  height: 2.5%;
  top: 53%;

  background-color: rgb(0,0,0);
}

#menu-option-3 {
  height: 10%;
  top: 55.5%;
  text-align: center;

  background-color: rgba(255,255,255,.65);

  box-shadow: -10px 0px 0px 0px black inset;
  
  line-height: 100%;
  
}

#menu-black-box-4 {
  height: 2.5%;
  top: 65.5%;

  background-color: rgb(0,0,0);
}

#menu-option-4 {
  height: 12%;
  top: 68%;
  text-align: center;

  background-color: rgba(255,255,255,.65);

  box-shadow: -10px 0px 0px 0px black inset;
  
}

#menu-black-box-5 {
  height: 1.5%;
  top: 80%;
  
  left: 10.7%;
  width: 61.3%;

  background-color: rgb(0,0,0);
}












#display-content {
  top: 12%;
  height: 68%;
  
  left: 25%;
  width: 47%;
  
  position: absolute;

  background-color: rgba(255,255,255,.65);
  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px;  

}

#cart-display {
  font-family: 'A-Love-Of-Thunder';
  font-weight: bolder;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 3.65vh;  
}








.content-title{
  font-size: 1.3em;
  position: absolute;
  left: 3%;
  top: -3%;
  

}

.content-text{
  position: absolute;
  left: 3%;
  top: 28%;
  display: block;
}


.product-image-container {
  position: relative;
  right: 2%;
  top: -4%;
  width: 50%;
  height:auto;

  float: right;
    display: inline;
    
  float: right;
  width: 103px;
  margin: 0 0 12px 10px;
  background-color: rgba(163,182,163,.75);
  padding: 10px;
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
    
    

}

.product-image-container>img{
border-top: 2px solid #555;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
border-left: 2px solid #555;
  
}



.product-description{
    position: relative;
     display: inline;
     clear: left;
     top: 0px;
         font-size: 1.5vmax;
}












#checkout-table {
  font-size: 1.55vw;
}

.table-header{
  font-size: 2vw;
  text-align: left;
}


.size-declaration {
  font-style: italic;
  font-size: 1.4vw;
}

.shipping-row{
  cursor: pointer;
}

#flat-rate-declaration-box {
  position: absolute;
  right: -43%;
  background-color: rgba(255,255,255,.9);
  width: 30%;
  top: 34%;
  padding: 0% 1% 0% 2%;
  border-style: inset;
  border-color: black;
}


#flat-rate-declaration {
  font-size: 1.35vw;
  color: black;
}
























#initial-message {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
  color: rgb(219,90,95);

  font-family: 'A-Love-Of-Thunder';
  font-size: 3.25em;

}



.clickable{
  cursor: pointer;
}



/* USE THESE CLASSES IN JQUERY */

.delicious {
  right: -75%;
}

.up-higher {
  top: 11%;
}